
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    background: white;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h1{
    margin-bottom: 50px;
}
h2{
    margin-bottom: 40px;
}
h3{
    margin-bottom: 30px;
}
h4{
    margin-bottom: 20px;
}

main{
    padding: 50px 0 50px 0px;
    h1{
        font-size: 50px;
    }
}

section {
    padding: 50px 0 50px 0px;
}

.vue-swatches__trigger{
    border: 1px solid black;
}

#selector-container {
    position: relative;
    .selector-btn {
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        border-radius: 5px;
    }

    ul {
        //position: absolute;
        //top: -165%;
        position: relative;
        left: -20%;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        margin: 2px 0 0;
        list-style: none;
        //border: 1px solid #ccc;
        //border: 1px solid rgba(0, 0, 0, .15);
        //border-radius: 4px;
        //-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        //box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        border: none;
        box-shadow: none;
        background-clip: padding-box;
    }

    .selector-list-item {
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
    }

    .selector-list-item:hover {
        cursor: pointer;
    }
}

.price-item{
    height: 265px;
    position: relative;
    a{
        position: absolute;
        bottom: 0;
        margin: auto;
    }
}
