<template>
    <div>
        <input v-model="q" class="form-control" type="text" placeholder="Search your language" id="searcher">
        <div style="overflow-y: scroll;height: 200px;" data-spy="scroll" data-target="#list-langs" data-offset="0"
             class="scrollspy-example mt-2">
            <div id="list-langs">
                <div v-for="lang in filteredList">
                    <h4>{{lang.code}}</h4>
                    <p>{{lang.name}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LangsList",
        props: ["langs"],
        data() {
            return {
                q: "",
            }
        },
        computed: {
            filteredList: function () {
                var self = this;
                return JSON.parse(this.langs).filter(function (e) {
                    if (self.q === "") {
                        return true;
                    }
                    return e.code.toLowerCase().indexOf(self.q.toLowerCase()) > -1 || e.name.toLowerCase().indexOf(self.q.toLowerCase()) > -1
                })
            }
        }
    }
</script>

<style scoped>

</style>
