<template>
    <div class="row mt-5">
        <div class="col">
            <div class="card card-default">
                <div class="card-body">
                    <div id="vue-frame">
                        <iframe id="myframe" :src="uri" width="100%" height="800">
                            Ваш браузер не поддерживает плавающие фреймы!
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-default">
                <div class="card-body" id="render-label" v-if="loaded">
                    <div class="row">
                        <div v-for="(lang,key) in JSON.parse(langs)" class="col">
                         <div class="form-group">
                                <label>{{lang.name}}</label>
                                <textarea class="form-control" v-model="filteredPhrases[lang.id]"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <button class="btn btn-outline-dark" type="button" @click="saveTranslation">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="card-body text-center">
                    <img src="/images/copper-loader.gif">
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['uri', 'page_id', 'langs','base_language_id'],
        data() {
            return {
                textArray: [],
                translatedText: [],
                baseLang: "ru",
                overed: -1,
                filteredPhrases: [],
                showIframe: true,
                loaded: false,
            }
        },
        created() {
            if (window.addEventListener) {
                window.addEventListener("message", this.listener);
            } else {
                window.attachEvent("onmessage", this.listener);
            }
        },
        watch: {
            overed: function (n, o) {
                this.filteredPhrases = this.translatedText[n];
                console.log(this.filteredPhrases);
            },
        },
        methods: {
            listener(event) {
                if (event.data.data) {
                    this.textArray = event.data.data;
                }
                if (event.data.index || event.data.index===0) {
                    this.overed = event.data.index;
                }
                if(event.data.loaded)
                {
                    this.updatePhrases();
                }

            },
            updatePhrases() {
                axios.post("/updatephrases", {
                    uri: this.uri,
                    textArray: this.textArray,
                    pageId: this.page_id,
                }).then(response => {
                    this.translatedText = (response.data.text);
                    this.loaded = true;
                    if (response.data.compiled) {
                        var iframe = document.getElementById('myframe');
                        iframe.src = iframe.src;
                    }
                });
                return 1;
            },
            saveTranslation() {
                axios.post("/save", {
                    uri: this.uri,
                    textArray: this.textArray,
                    translatedText: this.translatedText,
                    pageId: this.page_id,
                }).then(response => {
                    var iframe = document.getElementById('myframe');
                    iframe.src = iframe.src;
                });
                return 1;
            },
            phraseLanguage(id) {
                var languages = JSON.parse(this.langs);

                var curLang = languages.filter(function (e) {
                    return e.id === id
                })[0];
                return curLang ? curLang.name : "no lang"
            }
        }
    }
</script>
<style scoped>
    table {
        font-size: 10px;
    }
</style>
