<template>
    <div class="row">
        <div class="col">
            <div id="selector-container">
                <button class="selector-btn">{{JSON.parse(base_lang).name}}</button>
                <ul class="selector-list">
                    <a v-for="lang in JSON.parse(langs)" class="selector-list-item">
                        <img :src="'https://www.countryflags.io/'+lang.code+'/shiny/64.png'">
                        {{lang.name}}
                    </a>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <label for="object">Object</label>
                    <select id="object" class="form-control" v-model="currentObject">
                        <option value="btn">Button</option>
                        <option value="list">List</option>
                        <option value="list-item">Item</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="pl">Left padding ({{object['padding-left']}})</label>
                        <input min="0" max="60" step="1" type="range" class="form-control-range" id="pl"
                               v-model="object['padding-left']">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="pr">Right padding ({{object['padding-right']}})</label>
                        <input min="0" max="60" step="1" type="range" class="form-control-range" id="pr"
                               v-model="object['padding-right']">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="pt">Top padding ({{object['padding-top']}})</label>
                        <input min="0" max="30" step="1" type="range" class="form-control-range" id="pt"
                               v-model="object['padding-top']">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="pb">Bottom padding ({{object['padding-bottom']}})</label>
                        <input min="0" max="30" step="1" type="range" class="form-control-range" id="pb"
                               v-model="object['padding-bottom']">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="background">Background ({{object.background}})</label>
                        <swatches id="background" v-model="object.background" colors="text-advanced"
                                  popover-to="left"></swatches>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="color">Color ({{object.color}})</label>
                        <swatches id="color" v-model="object.color" colors="text-advanced" popover-to="left"></swatches>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="fs">Font size ({{object['font-size']}})</label>
                        <input min="10" max="30" step="1" type="range" class="form-control-range" id="fs"
                               v-model="object['font-size']">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="hover">On hover ({{object.hover}})</label>
                        <swatches id="hover" v-model="object.hover" colors="text-advanced" popover-to="left"></swatches>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-outline-dark" @click="saveSelector">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swatches from 'vue-swatches'
    // Import the styles too, globally
    import "vue-swatches/dist/vue-swatches.min.css"

    export default {
        name: "SiteSelector",
        props: ['langs', 'base_lang', 'site_id', 'selector'],
        components: {Swatches},
        data() {
            return {
                objects: {
                    'btn': {
                        color: "#333",
                        background: "#fff",
                        'font-size': 14,
                        hover: "#e0e0e0",
                        'padding-left': 25,
                        'padding-right': 25,
                        'padding-top': 5,
                        'padding-bottom': 5,
                    },
                    'list': {
                        color: "#333",
                        background: "#fff",
                        'font-size': "",
                        hover: "#fff",
                        'padding-left': 0,
                        'padding-right': 0,
                        'padding-top': 5,
                        'padding-bottom': 5,
                    },
                    'list-item': {
                        color: "#333",
                        background: "#fff",
                        'font-size': 14,
                        hover: "#e0e0e0",
                        'padding-left': 20,
                        'padding-right': 20,
                        'padding-top': 3,
                        'padding-bottom': 3,
                    }
                },
                object: {},
                currentObject: "btn"
            }
        },
        created() {
            if (this.selector) {
                this.objects = JSON.parse(this.selector);
            }
            this.object = this.objects[this.currentObject];

        },
        mounted(){
            // кнопка
            var self = this;
            for (var btnKey in this.objects["btn"]) {
                if (btnKey === "hover") {
                    $(".selector-btn").hover(function () {
                        $(this).css({"background": self.objects["btn"]["hover"]});
                    }, function () {
                        $(this).css({"background": self.objects["btn"]["background"]})
                    });
                } else {
                    var cssBtn = {};
                    if (btnKey === 'font-size' || btnKey === 'padding-left' || btnKey === 'padding-top' || btnKey === 'padding-right' || btnKey === 'padding-bottom') {
                        cssBtn[btnKey] = self.objects["btn"][btnKey] + "px";
                    } else {
                        cssBtn[btnKey] = self.objects["btn"][btnKey];
                    }
                    $(".selector-btn").css(cssBtn);
                }
            }
            // список
            for (var listKey in this.objects["list"]) {
                if (listKey === "hover") {
                    $(".selector-list").hover(function () {
                        $(this).css({"background": self.objects["list"]["hover"]});
                    }, function () {
                        $(this).css({"background": self.objects["list"]["background"]})
                    });
                } else {
                    var cssList = {};
                    if (listKey === 'font-size' || listKey === 'padding-left' || listKey === 'padding-top' || listKey === 'padding-right' || listKey === 'padding-bottom') {
                        cssList[listKey] = self.objects["list"][listKey] + "px";
                    } else {
                        cssList[listKey] = self.objects["list"][listKey];
                    }
                    $(".selector-list").css(cssList);
                }
            }
            // ссылка
            for (var listItemKey in this.objects["list-item"]) {
                if (listItemKey === "hover") {
                    $(".selector-list-item").hover(function () {
                        $(this).css({"background": self.objects["list-item"]["hover"]});
                    }, function () {
                        $(this).css({"background": self.objects["list-item"]["background"]})
                    });
                } else {
                    var cssListItem = {};
                    if (listItemKey === 'font-size' || listItemKey === 'padding-left' || listItemKey === 'padding-top' || listItemKey === 'padding-right' || listItemKey === 'padding-bottom') {
                        cssListItem[listItemKey] = self.objects["list-item"][listItemKey] + "px";
                    } else {
                        cssListItem[listItemKey] = self.objects["list-item"][listItemKey];
                    }
                    $(".selector-list-item").css(cssListItem);
                }
            }
        },
        watch: {
            currentObject: function (newValue) {
                this.object = this.objects[newValue];
            },
            object: {
                handler(val) {
                    for (var key in val) {
                        if (key === "hover") {
                            $(".selector-" + this.currentObject).hover(function () {
                                $(this).css({"background": val["hover"]})
                            }, function () {
                                $(this).css({"background": val["background"]})
                            });
                        } else {
                            var css = {};
                            if (key === 'font-size') {
                                css[key] = val[key] + "px";

                            } else if (key === 'padding-left' || key === 'padding-top' || key === 'padding-right' || key === 'padding-bottom') {
                                css[key] = val[key] + "px";
                            } else {
                                css[key] = val[key];
                            }
                            $(".selector-" + this.currentObject).css(css);
                        }
                    }
                },
                deep: true
            }
        },
        methods: {
            renderObjects(){
                for ( var index in this.objects) {
                    this.currentObject = index;
                }
            },
            saveSelector() {
                axios.post('/sites/' + this.site_id + '/selector', this.objects).then(response => {
                    console.log(response.data);
                });
            }
        }
    }
</script>

<style scoped>

</style>
