.translate-over {
    box-shadow: rgba(255, 1, 1, 0.91) 0px 0px 10px;
    border-radius: 20px;
    border: solid rgba(255, 1, 1, 0.91);
    cursor: pointer;
}

#selector-container {
    position: relative;
    .selector-btn {
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        border-radius: 5px;
    }

    ul {
        position: absolute;
        top: 100%;
        //position: relative;
        //left: -60%;

        z-index: 1000;
        display: none;
        float: left;
        //min-width: 160px;
        margin: 2px 0 0;
        list-style: none;
        //border: 1px solid #ccc;
        //border: 1px solid rgba(0, 0, 0, .15);
        //border-radius: 4px;
        //-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        //box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

        border: none;
        box-shadow: none;
        background-clip: padding-box;
        a{
            display: block;
        }
    }

    .selector-list-item {
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
    }

    .selector-list-item:hover {
        cursor: pointer;
    }
}

.swlgbtn-default{
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 99999;
    #selector-container {
        ul {
            position: fixed;
            right: 2%;
            bottom: 9%;
            top: inherit;
        }
    }
}
